<template name="addGroup">
			<form class="add-group">
			<div class="input-group">
		  		<span class="input-group-addon">
		    		<input type="checkbox" aria-label="addGroup">
		  		</span>
		  		<input type="text" id="groupName" class="form-control" aria-label="addGroup" placeholder="Group Name">
		  		<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Create Group</button>
					</span>
				</div>
			</form>

	<!-- <form class="add-group">
		<input type="text" id="groupName" placeholder="Group Name">
		<input type="submit" value="Create Group">
		<label class="radio-inline"><input type="radio" class="active">Public</label>
	</form> -->
</template>