<template name = "groupList">
	<div class = "container">
	<div class="row">
		<div class="col-sm-4" id="wall">
			<div class="dropdown">
		  	<button class="btn btn-primary dropdown-toggle plus" id="dropdownMenu1" type="image" src="settings.png" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src = "/plus.png"/>
		  		<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
		  		<li class="dropdown-submenu pull-right"><span class="add-group">{{> addGroup}}</span></li>
		  	</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<hr class = "group-title">
		<div class="row">
			<div class="col-sm-4" id="wall">
				<h1>Your Walls</h1>
			</div>
		</div>
		<div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{sortButton}}
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li class="drop-item" id="sprays">Total Sprays</li>
		      <li class="drop-item" id="name">name</li>
		      <li class="drop-item" id="createdBy">createdBy</li>
		    </ul>
  		</div>
		<hr>
		<div class="scrollable">
  		<ul>
			{{#each privateGroups}}
				<li>{{> group}}</li>
			{{/each}}
		</ul>
		</div>
	</div>

	<div class = "row">
		<hr class = "group-title">
		<div class="row">
			<div class="col-sm-4" id="wall">
				<h1>Public Walls</h1>
			</div>
		</div>
		<hr>
		<div class="scrollable">
		<ul>
			{{#each publicGroups}}
				<li>
					{{> group}}
				</li>
			{{/each}}
		</ul>
		</div>
	</div>

	</div>
</template>