<template name="groupPage">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 message-wall">
				<h1 class="groupName">
					{{ name }}
					<small id="{{ colorOfGroup }}">{{ typeOfGroup }} wall with <span id="maxLife">{{ maxLife }}</span> fade time</small>
					
				</h1>
			</div>
		</div>

		{{#if requireDropdown}}
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 message-wall">
					<div class="dropdown userDropdown">
						<button class="btn btn-primary dropdown-toggle settings glyphicon glyphicon-cog" type="image" src="/public/settings.png" data-toggle="dropdown">
						</button>

						<ul class="dropdown-menu small-drop">
							{{#if ownerOf}}
								<li>{{> deleteGroup}}</li>
							{{else}}
								{{#if isPrivate}}
									<li>{{> quitGroup}}</li>
								{{/if}}
							{{/if}}

							{{#if isPrivate}}
								<li class="add-user">{{> addUser}}</li>
							{{/if}}

							{{#if isPrivate}}
								{{#if ownerOf}}
									<li class="delete-user">{{> deleteUser}}</li>
								{{/if}}
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		{{/if}}

		{{#if isPrivate}}
			<div class="userList row">
				<div>Users: {{ users }}</div>
			</div>
		{{/if}}

		<div class="row">
			{{> messageSend}}
		</div>
		
			{{> messageList}}
	</div>
</template>