<template name="nav">
	<header>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-controls" aria-expanded="true">
          					<span class="sr-only">Toggle navigation</span>
         					<span class="icon-bar"></span>
          					<span class="icon-bar"></span>
          					<span class="icon-bar"></span>
        				</button>
	 					<a class="navbar-brand logonav logo" href="/">GRAFFITI!</a>
					</div>

					<div class="navbar-collapse collapse" id="user-controls" aria-expanded="false" style="height: 1px;">
						<ul class="nav navbar-nav navbar-right">
		  					<li><a class = "nav-item" href="/userPage">{{ username }}</a></li>
		  					<li><a class = "nav-item" href="/tutorial">Tutorial</a></li>
		  					{{#if currentUser}}
		  					<li><button type="button" id ="signOut" class="btn btn-default whitetext">Sign Out</button></li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
</template>
