<template name="tutorial">

<div class="container-fluid main-container">
<center class="col-md-12 title demo-title">
<h2 class="title demo-title">1. Make your own Message Wall</h2>
<div class = "container">
<p class="demo-explanation">You can visit a public wall or make your own wall. The wall you make can either be broadcast to everyone, or just
your select friends. When creating a wall, you can choose the max life time of messages posted on this wall. </p>
</div>
</center>
</div>
<div class="container main-container">
<center class="col-md-12">
<div class = "row">
	<img class = "demo" src="addGroup.gif"> 
</div>
</center>
</div>

<div class="container-fluid main-container">
<center class="col-md-12 title demo-title">
<h2 class="title demo-title">2. Add other users to the Wall</h2>
<div class = "container">
<p class="demo-explanation">If you make a private wall, anyone in the group may add other users to the group</p>
</div>
</center>
</div>
<div class="container main-container">
<center class="col-md-12">
<div class = "row">
	<img class = "demo" src="addUser.gif"> 
</div>
</center>
</div>

<div class="container-fluid main-container">
<center class="col-md-12 title demo-title">
<h2 class="title demo-title">3. Post Messages</h2>
<div class = "container">
<p class="demo-explanation"> Post messages onto the board, which begin fading immediately </p>
</div>
</center>
</div>

<div class="container main-container">
<center class="col-md-12">
<div class = "row">
	<img class = "demo" src="message.gif"> 
</div>
</center>
</div>


<div class="container-fluid main-container">
<center class="col-md-12 title demo-title">
<h2 class="title demo-title">3. Vote on Posts to keep them alive longer</h2>
<div class = "container">
<p class="demo-explanation">Clicking on posts adds 1/2 of the maxlife to their lifetime.</p>
</div>
</center>
</div>
<div class="container main-container">
<center class="col-md-12">
<div class = "row">
	<img class = "demo" src="votes.gif"> 
</div>
</center>
</div>

<div class="container-fluid main-container">
<center class="col-md-12 title demo-title">
<h2 class="title demo-title">4. Get started!</h2>
</center>
</div>
<div class="container main-container">
<center class="col-md-12">
<div class = "row">
	<a href="/">Register</a>
</div>
</center>
</div>

</template>