/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Cookie|Merriweather|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*General*/
a {
  font-family: "Merriweather";
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: none;
  color: gray;
}

a:link {
  text-decoration: none;
  color: #e74c3c;
}

a:visited {
  text-decoration: none;
  color: #e74c3c;
}

.at-btn {
  color: white !important;
}

.body-home{
  background-color: #ecf0f1;
}
.body-home {
  background-position: 50% 50px;
  background-size: cover;
  padding-top: 50px;
}

.btn-default {
  color: white;
}

.btn-primary {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}

.demo-explanation{
  font-size: 12pt;
}

div {
  display: block;
}

h1 {
  font-family: "Bitter";
  width: 100%;
  /*background-color: red;*/

}

.carousel-caption{
  color:black;
}

h2 {
  font-family: "Bitter";
  width: 100%;
  /*background-color: red;*/
}

img {
  height: 100%;
  margin-bottom: 2px;
  vertical-align: middle;
}

img.demo{
  width:auto;
  height:400px;
}

input {
  box-shadow: none;
  font-family: "Bitter";
}

ul {
  list-style-type: none;
}

.whitetext{
  color: white !important;
}

/*Add Group*/
input.form-control {
  margin-left: 0;
} /*Also in Message Send*/

.toggling {
  border-left: 0px;
  border-right: 0px;
}

/*Add User*/
.add-user {
  margin:5px;
}

/*Delete Group*/
.delete-group {
  margin: 7px;
/*  border-radius: 6px;
  background-color: #e74c3c;*/
}

/*Delete User*/
.delete-user {
  margin: 5px;
}

/*Group*/
.group-line {
  border-color: #2c3e50;
  padding: 0px;
}

.group-list-name {
  margin: 0px;
}

.sprays {
  font-family: "Bitter";
}

/*Group List*/
.drop-item {
  cursor: pointer;
  cursor: hand; 
}

.dropdown-menu {
  width: 510px;
  padding: 5px;
} /*Also in Group Page*/

hr.group-title {
  margin-bottom: 10px;
}

.plus {
  height: 35px;
  width: 50px;
  margin-top: 15px;
}

.small-drop {
  width: auto;
}

.dropdown-toggle.btn-primary{
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.dropdown-toggle.btn-primary{
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.dropdown-toggle.btn-primary:active{
  background-color: #e74c3c;
  border-color: #e74c3c;
}

/*.dropdown-toggle.btn-primary:focus{
  background-color: #e74c3c;
  border-color: blue;
}*/

.open>.dropdown-toggle.btn-primary:focus{
  background-color: #e74c3c;
  outline: -webkit-focus-ring-color auto 5px;
  /*border-color: blue;*/
}

.btn{
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.btn:hover{
  background-color: #c0392b;
}

/*.btn:focus{
  background-color: #7f8c8d;
}*/

.btn:active{
  background-color: #c0392b;
}

.btn:visited{
  background-color: #c0392b;
}

svg{
  /*background-color: #ecf0f1;*/
  border-radius: 6px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.scrollable {
  background-color: #d6d9dc;
  height: 400px;
  overflow: auto;
  border-radius: 6px;
  /*background-color: #ecf0f1;*/
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  /*margin:10px;*/
  margin-bottom: 20px;
  margin-top: 20px;
}

.tutorial{
  height:100%;
}

.footer{
  /*background-color: #e74c3c;*/
  text-align: right;
  background-color: gray;
}

#wall {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 29px;
} /*Also in Group Page*/

.message-wall {
  padding-right: 0px;
  padding-left: 0px;
} 
/*Group Page*/
.groupName {
  /*position:fixed;*/
  /*padding-left: 20px;*/
  /*width: 150em;*/
}

#maxLife {
  font-size: 100%;
}

#privateColor {
  color: red;
  opacity: 0.4;
  font-size: 50%;
}

#publicColor {
  color: green;
  opacity: 0.4;
  font-size: 50%;
}

.settings {
  height: 30px;
  width: 50px;
  /*position:fixed;*/
  /*margin-bottom: 15px;*/
  /*display: inline-block;*/
  /*right:0px;*/
}

.userDropdown {
  margin-bottom: 10px;
  height: 30px;
  /*padding:0px;*/
  /*display: inline-block;*/
}

.userList {
  margin-bottom: 5px;
}

/*Home*/
.cloud {
  width: 100%;
  height: auto;
}

.nav-item{
  font-family: "Helvetica";
  font-size: 12pt;
}

.container-fluid .full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.explanation {
  text-indent: 50px;
  padding: 15px;
  font-family: "Bitter";
  font-size: 13pt;
  text-align: left;
}

.logo {
  font-family: "Fjalla One";
  font-style: "bold";
  font-size: 30pt;
  color: #e74c3c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} /*Also in Navigation*/

.logo-pic {
  margin: 10px;
}

.row.background-home {
  background-image: url("/underpass.jpg");
  background-size: cover;
  z-index: -1;
  padding: 20px;
}

.row.how-to {
  background-color: #e74c3c;
}

.sign-in {
  background-color: rgba(189, 195, 199, .9);
  border-radius: 6px;
}

.subtitle {
  color: #ecf0f1;
  font-family: "Fjalla One";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 34pt;
  padding-top: 0px;
}

.demo-title{
  /*background-color: #e74c3c;*/
}

.title {
  font-size: 60px;
  font-weight: 300;
}

/*Layout*/
.main-container.container-fluid {
  padding: 0;
}

.demo-container{
  background-color: #e74c3c;
}

/*Loading*/
.spinner {
  width: 50%;
  height: 50%;
}

/*Message List*/
svg {
  height: 50%;
}

.textClass {   
  width: 10px;
  font-family: "Merriweather";
  color: "white";
  white-space: pre-wrap;
  cursor: pointer; cursor: hand; 
}

.textClass2 {   
  width: 100px;
  font-family: "Cookie";
  color: "white";
  white-space: pre-wrap;
  cursor: pointer; cursor: hand; 
  /*text-anchor:middle;*/
}

.tooltip {
  width: 300px;                   
  height: 100%;                   
  padding: 2px;               
  font: 20px sans-serif;
  overflow: hidden;
  border: 0px;        
  border-radius: 8px;         
  pointer-events: none;
  word-wrap:break-word;
  /*position: fixed;*/
  /*top: 220px;*/
  /*right:10px;*/
  /*bottom:100;*/
  /*text-align: center;*/
  /*color:"red";*/
  /*overflow:scroll;*/
}

/*Message Send*/
#message-send {
  padding-left: 0px;
  padding-right: 0px;
}

.submit-message {
  display: block;
  /*position:fixed;*/
  /*margin: 5px;*/
}

/*Navigation*/
.logonav {
  font-size: 20pt;
  text-decoration: none;
  color: #e74c3c;
  
}

#signOut {
    border-radius: 6px;
    margin: 7.5px 7.5px 7.5px 15px;
}

/*Quit Group*/
.quit-group {
  margin: 15px;
}

/*Last Minutes Touches*/
input[type=submit] {
  background: #e74c3c;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
}

.group{
  text-decoration: none;
  margin:0;
  padding:0;
  border:0 none;
  position: relative;
  outline: none;
}

.group:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #e74c3c;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.group:hover:before,
.group:focus:before {
  visibility: visible;
  transform: scaleX(1);
}