@import url(https://fonts.googleapis.com/css?family=Cookie|Merriweather|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
h1
{
	margin-top:5px;
	padding-bottom: 0px;
}
.groupTop
{
	display: block;	
}
.groupName
{
	position:fixed;
	padding-top: 10px;
	padding-left: 10px;
	padding-left: 19px;

}
#signOut
{
	margin:5px;
}
.btn-group
{
	display: inline-block;
}
.settings
{
	height:30px;
	width: 50px;
	/*position:fixed;*/
	margin-bottom: 15px;
	display: inline-block;
	/*right:0px;*/
}
.dropdown-menu
{
	/*right:0px;*/
	padding: 0px 0px 0px 0px;
}
.dropdown
{
	padding:0px;
	margin:0px;
}
.submit-message
{
	position:fixed;
	display: block;
	margin: 5px;
}
img
{
	height:100%;
	margin-bottom: 2px;
	vertical-align: middle;
}
input
{
	margin:5px;
	box-shadow: none;
	font-family: "Bitter";
}
form
{
	position:fixed;
	display:block;
	margin:5px;
}
.dropdown
{
	margin:5px;
}
.logo
{
	font-size: 30pt;
	text-decoration: none;
	color: "black";
	font-family: "Fjalla One";
	font-style: "bold";
}
a:link {
    text-decoration: none;
    color: "black";
}

a:visited {
    text-decoration: none;
    color: "black";
}

a:hover {
    text-decoration: none;
    color: "black";
}

a:active {
    text-decoration: none;
    color: "black";
}
.textClass
{   
    width: 10px;
    font-family: "Merriweather";
    color: "white";
    white-space: pre-wrap;
    cursor: pointer; cursor: hand; 
    
}
.textClass2
{   
    width: 150px;
    font-family: "Cookie";
    color: "white";
    white-space: pre-wrap;
    cursor: pointer; cursor: hand; 
    /*text-anchor:middle;*/

}
h1
{
	font-family:"Bitter";
	/*background-color: red;*/
	width:100%;
}
a
{
	font-family:"Merriweather";
	text-decoration: none;
}
ul
{
	list-style-type:none
}
.login
{
	position: relative;
	margin-right: 200px;
	float: right;
}

.tooltip {	
    position: fixed;	
    top: 100;
    left: 2000;	
    bottom:100;	
    /*text-align: center;			*/
    width: 200px;					
    height: 100%;					
    padding: 2px;				
    font: 20px sans-serif;	
    /*color:"red";	*/
  	overflow: hidden;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    /*overflow:scroll;			*/
}

.content {
	padding-top: 50px;
}

.spinner {
    padding-top: 100px;
}