/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Cookie|Merriweather|Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*General*/
a {
  font-family: "Merriweather";
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: none;
  color: gray;
}

a:link {
  text-decoration: none;
  color: #e74c3c;
}

a:visited {
  text-decoration: none;
  color: #e74c3c;
}
.body-home{
  /*background-color: black;*/
}
.body-home {
  background-position: 50% 50px;
  background-size: cover;
  padding-top: 50px;
}

div {
  display: block;
}

h1 {
  font-family: "Bitter";
  width: 100%;
  /*background-color: red;*/

}

h2 {
  font-family: "Bitter";
  width: 100%;
  /*background-color: red;*/
}

img {
  height: 100%;
  margin-bottom: 2px;
  vertical-align: middle;
}

img.demo{
  height:300px;
  width:auto;
}

input {
  box-shadow: none;
  font-family: "Bitter";
}

ul {
  list-style-type: none;
}

/*Add Group*/
input.form-control {
  margin-left: 0;
} /*Also in Message Send*/

.toggling {
  border-left: 0px;
  border-right: 0px;
}

/*Add User*/
.add-user {
  margin:5px;
}

/*Delete Group*/
.delete-group {
  margin: 7px;
}

/*Group*/
.group-line {
  padding: 0px;
}

.group-list-name {
  margin: 0px;
}

.sprays {
  font-family: "Bitter";
}

/*Group List*/
.drop-item {
  cursor: pointer;
  cursor: hand; 
}

.dropdown-menu {
  width: 500px;
  padding: 5px;
} /*Also in Group Page*/

hr.group-title {
  margin-bottom: 10px;
}

.plus {
  height: 35px;
  width: 50px;
  margin-top: 15px;
}

.scrollable {
  height: 200px;
  overflow: auto;
  border-radius: 6px;
  background-color: rgba(189, 195, 199, .8);
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin:10px;
}

#wall {
  padding-right: 0px;
  padding-left: 0px;
} /*Also in Group Page*/

/*Group Page*/
.groupName {
  /*position:fixed;*/
  /*padding-left: 20px;*/
  /*width: 150em;*/
}

#privateColor {
  color: red;
  opacity: 0.4;
  font-size: 50%;
}

#publicColor {
  color: green;
  opacity: 0.4;
  font-size: 50%;
}

.settings {
  height: 30px;
  width: 50px;
  /*position:fixed;*/
  /*margin-bottom: 15px;*/
  /*display: inline-block;*/
  /*right:0px;*/
}

.userDropdown {
  margin-bottom: 10px;
  height: 30px;
  /*padding:0px;*/
  /*display: inline-block;*/
}

.userList {
  margin-bottom: 5px;
}

/*Home*/
.cloud {
  width: 100%;
  height: auto;
}

.nav-item{
  font-family: "Helvetica";
  font-size: 12pt;
}

.container-fluid .full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.explanation {
  text-indent: 50px;
  padding: 15px;
  font-family: "Bitter";
  font-size: 13pt;
  text-align: left;
}

.logo {
  font-family: "Fjalla One";
  font-style: "bold";
  font-size: 30pt;
  color: #e74c3c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} /*Also in Navigation*/

.logo-pic {
  margin: 10px;
}

.row.background-home {
  background-image: url("/underpass.jpg");
  background-size: cover;
  z-index: -1;
  padding: 20px;
}

.row.how-to {
  background-color: #e74c3c;
}

.sign-in {
  background-color: rgba(189, 195, 199, .8);
  border-radius: 6px;
}

.subtitle {
  color: #ecf0f1;
  font-family: "Fjalla One";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 34pt;
  padding-top: 0px;
}

.demo-title{
  /*background-color: #e74c3c;*/
}

.title {
  font-size: 60px;
  font-weight: 300;
}

/*Layout*/
.main-container.container-fluid {
  padding: 0;
}

.demo-container{
  background-color: #e74c3c;
}

/*Loading*/
.spinner {
  width: 50%;
  height: 50%;
}

/*Message List*/
svg {
  height: 50%;
}

.textClass {   
  width: 10px;
  font-family: "Merriweather";
  color: "white";
  white-space: pre-wrap;
  cursor: pointer; cursor: hand; 
}

.textClass2 {   
  width: 100px;
  font-family: "Cookie";
  color: "white";
  white-space: pre-wrap;
  cursor: pointer; cursor: hand; 
  /*text-anchor:middle;*/
}

.tooltip {
  width: 300px;                   
  height: 100%;                   
  padding: 2px;               
  font: 20px sans-serif;
  overflow: hidden;
  border: 0px;        
  border-radius: 8px;         
  pointer-events: none;
  /*position: fixed;*/
  /*top: 220px;*/
  /*right:10px;*/
  /*bottom:100;*/
  /*text-align: center;*/
  /*color:"red";*/
  /*overflow:scroll;*/
}

/*Message Send*/
#message-send {
  padding-left: 0px;
  padding-right: 0px;
}

.submit-message {
  display: block;
  /*position:fixed;*/
  /*margin: 5px;*/
}

/*Navigation*/
.logonav {
  font-size: 20pt;
  text-decoration: none;
  color: #e74c3c;
  
}

#signOut {
    border-radius: 6px;
    margin: 7.5px 7.5px 7.5px 15px;
}

/*Quit Group*/
.quit-group {
  margin: 5px;
}