<template name="home">
	<div class="container-fluid">
		<div class="row background-home">		
			<div class="col-md-3"></div>
			<center class="col-md-6">
				<!-- <img class = "logo-pic" src = "can2.png"> -->
				<h1 class="title logo heading-home">Graffiti</h1>
				<h2 class="subtitle">Graffiti is a place to....</h2>
			</center>
			<div class="col-md-12">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class = "container-fluid sign-in"> 
					{{> atForm}}
					</div>
					
				</div>
			</div>
		</div>
		<div class="row how-to">
			this
		</div>
	</div>
</template>