<template name="home">
	<div class="container-fluid">
		<div class="row background-home">		
			<div class="col-md-3"></div>
			<center class="col-md-6">
				<!-- <img class = "logo-pic" src = "can2.png"> -->
				<h1 class="title logo heading-home">GRAFFITI</h1>
				<!-- <h2 class="subtitle">make your mark</h2> -->
			</center>
			<div class="col-md-12">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="container-fluid sign-in"> 
						{{> atForm}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row how-to">
				<center class="col-md-12">
					<!-- <img class = "logo-pic" src = "can2.png"> -->
					<h1 class="title subtitle">But what does it do?</h1>
					<!-- <h2 class="subtitle">make your mark</h2> -->
				</center>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-s-4 col-lg-4 col-md-offset-1">
				<img class = "cloud" src="cloud.png">
			</div>
			<div class="col-md-4 col-s-4 col-lg-4 col-md-offset-1">
				<p class="explanation">
					The wild and care-free youth of today, flocking to their snappages and instachats, prize effervescence above all else. So we've made a new type of chat for these future-forward millennials. Messages posted to our unstructured "Graffiti Walls" begin fading immediately, set to disappear entirely after a set amount of time. Users can click on messages which they deem "hip" or "street", thus increasing the lifespan of the message. However, all messages fade to nothing eventually. On these walls, users can discuss their outrageous hanky-panky, confident in the knowledge that no message will survive forever on our boards.
				</p>
			</div>
		</div>
	</div>
</template>